<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/jquery.jplayer.min.js"></script>
    <script src="/javascripts/MediaPlayer.js"></script>
    <script>
    var medias = {};
    <% for(var i=0; i<medias.length; i++) { %>
    medias['id_<%= medias[i]._id %>'] = <%= medias[i] %> ;
    <% } %>
    $(document).ready(function(){
        $('.media_item').each(function(idx, elem){
            var that = $(elem);
            var id = that.attr('id');
            MediaPlayer(that.find('.player').first(), medias[id]);
        });
    });
    </script>
    
  </head>
  <body>
    <h1>Tuned City Archive: <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    <% for(var i=0; i<medias.length; i++) { %>
    <li class="media_item" id="id_<%= medias[i]._id %>"> <%= medias[i].url %> <div class="player"><span class="player-play">play</span><span class="player-pause">pause</span></div></li>
    <% } %>
    </ul>
  </body>
</html>
